@charset "UTF-8";

/*=========================ADAPTAÇÂO PARA CELULAR=========================*/
@media screen and (max-width: 768px){
    *{
        margin: 0px;
        padding: 0px;
    }

    /*===============CABEÇALHO===============*/

    header{
        height: 15vh;
        padding: 20px;
        justify-items: center;
        align-items: center;
    
        }
    header>h1{
        width: 90%;
        padding: 13px;
        margin-top: -3px;
    }
    div#menui{
        display: none;
    }
    div#serie>p{
        text-align: left;
    }
    i#text:hover{
        cursor: default;
        text-decoration: none;
    }
    /*===============MANCHETE===============*/

    article#manchete{
        max-height: 130%;
        min-height: 110%;
    }
    div#serie{
        display: flex;

        max-height: 140vh;
        min-height: 120vh ;
    }

    div#serie>picture>img{
        width: 500px;
        min-width: 380px;
        padding: 10px;
    }
    .Produtores{
        display: none;
    }

    /*===============CABEÇALHO===============*/

    article#temporada{
        max-height: 60vh;
        min-height: 50vh;
    }
    .tempo{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 75%;
    }
    .tempor{
        width: 80%;
    }
    article#episodios{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170vh;
      
    }
    .episo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        max-height: 150vh;
        height: 150vh;
        width: 95%;
        padding: 5px;
        margin: 0px;
    }
    .ep{
        display: flex;
        align-items: center;
        width: 90%;
        height: 60%;
        margin: 8px;
        transition: none;
    }
    .ep>picture>img{
        width: 80%;
        max-width: 75%;
    }
    .ep:hover{
        background-color: #090909;
        color: gold;
        margin: 8px;
    }
    .ep:hover>h4#eph4{
        border-left: 7px solid gold;
        background-color: black;
        color: gold;
    }
    .ep>p{
        font-size: 1.2em;
    }
    .h3{
        width: 85%;
        margin: 15px;
    }
    h4#eph4{
        margin: 5px;
        padding: 5px;
        font-size: 1.3em;
        width: 80%;
    }
    .mais{
        display: none;
    }
    /*===============ATUAÇÂO===============*/
    article#atuacao{
        height: 100%;
        max-height: 300vh;
        min-height: 290vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .atores{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 270vh;
        max-height: 265vh;
        min-height: 230vh;
        width: 85%;
        margin: 10px;
    }
    .actor{
        width: 71%;
        max-width: 80%;
        min-width: 70%;
        height: 60%;
        margin: 5px;
        transition: margin 0.8s;
    }
    .actor>picture>img{
        width: 100%;
        max-width: 330px;
        min-width: 250px;
    }
    .actor:hover{
        margin: 15px 0px 5px 15px;
    }
}

/*=========================ADAPTAÇÂO PARA TABLET=========================*/

@media screen and (min-width: 768px) and (max-width:  1300px) {

    /*===============MANCHETE===============*/

    article#manchete{
        max-height: 170vh;
        min-height: 160vh;
    }
    div#serie{
        display: flex;
        justify-content: center;
        align-items: normal;
        width: 98%;
        max-width: 100%;
        min-width: 90%;
        height: 150vh;
    }
    .Produtores{
        display: flex;
        height: 10%;
    }
    div#serie>p{
        font-size: 1.3em;
    }
    div#criacao>h3{
        font-size: 1.8em;
        padding-left: 15px;

    }
    div#categoria{
        display: flex;
        height: 10%;
        padding: 10px;
    }
    div#categoria>h3{
        font-size: 1.8em;
        margin-left: 5px;
    }
    div#categoria>ul>li>.ac{
        margin-left: 0px;
        padding: 4px;
    }
     div#categoria>ul>li>.ac:hover{
        margin-left: -5px;
        padding: 10px;

    }
    .ac{
        font-size: 24px;
        margin-left: 5px;
        margin-top: 10px;
    }
    /*===============ATUAÇÂO===============*/

    .tempo{
        width: 80%;
    }
    .tempor{
        width: 60%;
    }

    /*====================Episodios==================== */  

    article#episodios{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 160%;

    }
    .episo{
        margin: 10px;
        width: 90%;
        height: 140%;
        display: flex;
        flex-direction: column;
    }
    .ep{
        width: 90%;
    }
    .ep:hover{
        box-shadow: -1px 3px 20px gold;
        margin-top: 40px;
    }
    .ep>picture>img{
        width: 60%;
    }
    .ep>p{
        font-size: 1.6em;
    }
    h4#eph4{
        width: 80%;

    }
    .mais{
        margin: 10px;
    }

    /*====================Atuacao==================== */
    article#atuacao{
        height: 90%;
    }
    .atores{
        width: 95%;
    }
    .actor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
    .acct{
        width: 100%;
    }


    
}